body {
    background-color: #f7f7f7;
    font-family: trebuchet ms, sans-serif;
}


/*header*/

ul {
    list-style: none;
    Display: flex;
    justify-content: space-between;
    margin-left: auto;
    background-color: #ffffff;
    margin: -0.5em 0.01em 0em 0.01em;
    padding: 0.5em 1em -1em 1em;


}

body > header > nav > ul > li:nth-child(1) > a > img {
    margin: 1em 0em 0em -2em;
    width: 15em;

}

body > header > nav > ul > li:nth-child(2) > a > img {
    width: 21em;
    margin: -2.5em -6.5em -7em -5em;
}


/*searchbalk*/

#afbeelding {
    padding-top: 0.01em;
    padding-bottom: 0.01em;
}

#afbeelding > form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 0.313em;
    /margin: 0.625em;
    width: 25em;
    margin: 0.625em auto 0.625em auto;
}

#afbeelding > form > h2 {
    color: #00d66c;


}

#afbeelding > form > button {
    background-color: #ff3268;
    color: white;
    border-radius: 20px;
    font-size: 1em;


}

#afbeelding > form > button:hover {
    background-color: #ff658e;
}

#afbeelding > form > input[type="search"] {
    border-style: solid;
    border-radius: 8px;
    border-color: #91a3b7;
    padding: 0em 0.5em 0em 0.5em;
    box-sizing: border-box;
    height: 2.33em;
    width: 20.533em;
    font-size: 1em;
    margin-bottom: 30px;

}

#afbeelding > form > button:nth-child(3) {
    margin: 0.25em 10em;
}

#filter {
    color: #909090;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 0.5em;
}



#afbeelding > form > section > button {
    background-color: #00d66c;
    color: white;
    border-style: none;
    padding: 1em;
    border-radius: 8px;
    font-size: 1em;
    margin: 0.5em 0 1em 1.5em;
}

#afbeelding > form > section > button:hover {
    background-color: #2800a0;
}

/#afbeelding > form > section {
    margin: 0.5em 0 1em 2em;

}

/* lees verder */

#afbeelding {
    background: url(../images/achtergrond.png);
}

#continue {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    /margin: 0.625em;
    padding: 0em 0em 0.625em 0.625em;
    width: 25em;
    font-size: 1em;
    margin: 0.625em auto 0.625em auto;

}

#continue > article > h3 {
    color: #2800a0;
    font-size: 1.250em;
    margin-top: 0;
    margin-left: 1em;


}

#continue > article {
    width: 25em;
    margin: auto;
}

#continue > article > button {
    background-color: #2800a0;
    border-radius: 10px;
    color: white;
    font-size: 1em;
}

#continue > article > button:hover {
    background-color: #5e40b8;

}

/*scroller*/

#scroller {
    background: rgb(243, 229, 216);
    padding: 0.5em;

}

div {
    margin-left: -0.5em;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    background: rgb(243, 229, 216);

}

#scroller article {
    width: 12em;
    height: 12em;
    background: rgba(255, 255, 255, 0.7);
    margin: .5em;
    border-radius: 0.5em;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-shrink: 0;
}

#scroller > h2 {
    margin-top: 0;
    color: #00d66c;
}

#scroller div article h3 {
    margin-top: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}


/*scroller 1 */

#scroller > div:nth-child(2) > article:nth-child(1) > img {
    width: 100%;
    margin-left: 0;
    margin-top: -1.1em;
}

#scroller > div:nth-child(2) > article:nth-child(2) > img {
    width: 150%;
    margin-left: 0;
    margin-top: -1.1em;
}

#scroller > div:nth-child(2) > article:nth-child(3) > img {
    width: 150%;
    margin: auto;
    margin-top: -1.1em;
}

#scroller > div:nth-child(2) > article:nth-child(4) > img {
    width: 142%;
    margin-left: -2em;
    margin-top: -1.1em;

}

#scroller > div:nth-child(2) > article:nth-child(5) > img {
    width: 100%;
    margin-left: 0;
    margin-top: -1.1em;

}

/*scroller 2 */

#scroller > div:nth-child(3) > article:nth-child(1) > img {
    width: 125%;
    margin-left: -1.5em;
    margin-top: -1.1em;
}

#scroller > div:nth-child(3) > article:nth-child(2) > img {
    width: 100%;
    margin-left: 0;
    margin-top: -1.1em;
}

#scroller > div:nth-child(3) > article:nth-child(3) > img {
    width: 100%;
    margin-left: 0;
    margin-top: -1.1em;
}

#scroller > div:nth-child(3) > article:nth-child(4) > img {
    width: 100%;
    margin-left: 0;
    margin-top: -1.1em;
}

#scroller > div:nth-child(3) > article:nth-child(5) > img {
    width: 150%;
    margin: auto;
    margin-top: -1.1em;
}

/*scroller 3 */

#scroller > div:nth-child(4) > article:nth-child(1) > img {
    width: 120%;
    margin: auto;
    margin-top: -1.1em;
}

#scroller > div:nth-child(4) > article:nth-child(2) > img {
    width: 125%;
    margin-left: -1.5em;
    margin-top: -1.1em;
}

#scroller > div:nth-child(4) > article:nth-child(3) > img {
    width: 150%;
    margin-left: 0;
    margin-top: -1.1em;
}

#scroller > div:nth-child(4) > article:nth-child(4) > img {
    width: 125%;
    margin-left: -1.5em;
    margin-top: -1.1em;
}

#scroller > div:nth-child(4) > article:nth-child(5) > img {
    width: 100%;
    margin-left: 0;
    margin-top: -1.1em;
}



/*footer*/

#footer {
    background-color: #f7f7f7;
    margin-top: -1.1em;
    padding: 1em 3em 2em 3em;
}

#footer > form {
    /*    background-color: rgba(255, 255, 255, 0.9);*/
    /*    /border-radius: 10px;*/
    padding: 0.313em;
    /*    /margin: 0.625em;*/
    width: 30em;
    margin: 0.625em auto 0.625em auto;
}

#footer > form > h2 {
    color: #2800a0;
    font-size: 1.250em;
    text-align: center;
}

#footer > form > button {
    background-color: #2800a0;
    color: white;
    border-radius: 20px;
    font-size: 1em;
}

#footer > form > button:hover {
    background-color: #5e40b8;
}

#footer > form > input[type="search"] {
    border-style: solid;
    border-radius: 8px;
    border-color: #91a3b7;
    padding: 0em 0.5em 0em 0.5em;
    /box-sizing: border-box;
    height: 2.33em;
    width: 20.533em;
    font-size: 1em;
    margin: 0em 0em 2em 0;

}


#social ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #f7f7f7;
}

a {
    color: #91a3b7;
    font-size: .75em;
    text-decoration: none;
}

#social img {
    margin-left: -1.5em;

}

#social > ul > li {
    margin: auto;

}
